/* Generales */

*{
    padding: 0px;
    margin: 0px;
    font-family: SansSerif, Helvetica, Arial;
}


body{
    background: url("../img/54822334-vector-sin-patrón-con-comida-saludable-fondo-perfecto-con-las-frutas-verduras-pescados-y-mariscos-se-pu.jpg");
}


a, a:visited{
    color: #0e3c03;
}


a:hover{
    color: #555555;
}


table{
    width: 100%;
    text-align: center;
    border: 1px solid #555;
    margin-bottom: 100px;
}


td{
    border-top: 1px solid #ccc;
    padding: 2px;
}


.thumb{
    height: 100px;
}




/* Cestas */

.crear_cesta{
    align-self: center;
}


.product_container{
    display: inline-grid;
    margin-left: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    justify-items: center;
}


.product_number{
    text-align: center;
    width: 60px !important;
}


/* Container */

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}



/* Cabecera */

#header{
    height: 145px;
   /* background: #F0F0F0; */
    background: url("../img/fondosimple.jpg");
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    height: 100px;
    margin-left: 650px;
    float: left;
}

#logo a{
    float: left;
    margin-top: 18px;
    margin-left: 25px;
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #01EAB1;
    text-decoration: none;
    text-shadow: 0px 2px 2px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 2px #222222, 0px 0px 4px #01EAB1;

}


/* Menu */
 #menu{
     clear: both;
     background:  #222222;
     color: white;
     height: 55px;
     border-bottom: 4px solid #01EAB1;
 }

 #menu ul{
     list-style: none;
     text-decoration: none;
     margin: 0px auto;
     margin-left: 25px;
 }


 #menu ul li{
     line-height: 55px;
     float: left;
     border-right: 1px solid #363636;
 }

#menu ul li:first-of-type{
    border-left: 1px solid #363636;
   /* margin-left: -25px; */
}

#menu a{
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    text-decoration: none;
    transition: all 300ms;
}

#menu a:hover{
    background: #01EAB1;
    color: black;
}


/* Contenido */

 #content{
     margin: 0px auto;
     overflow: hidden;
     background: white;
 }




 /* Barra lateral */

#lateral{
    width: 22%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{
    display: block;
    color: #222222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01EAB1;
}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}



/* Formularios */
.form_container{
    width: 60%;
}


label, input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}


input[type="text"], input[type="password"], input[type="email"], input[type="number"], select, textarea{
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: black;
    transition: all 300ms;
}


.numero{
    width: 100px !important;
}


input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    border: 1px solid #1579B5;
}


input[type="button"], input[type="submit"], button, .button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
    justify-content: center;
}


.button{
    background: #555555;
    color: white !important;
    text-decoration: none;
    transition: all 300ms;
}


.button:hover{
    background: #33AE3D;
}


.button-small{
    align-self: center;
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-flex;
}


.button-gestion{
    margin-top: 5px;
    margin-bottom: 5px;
}


.button-red{
    background: darkred;
    border: 1px solid #cf1717;
}


.button-red:hover{
    background: red;
}




label, input[type="button"], input[type="submit"], button{
    margin-top: 10px;

}


.alert_green{
    color: green;
}


.alert_red{
    color: red;
}



/* Central */
#central{
    width: 72%;
    min-height: 800px;
    float: right;
    border-left: 1px solid #cccccc;
    box-shadow: -5px -1px 5px #dddddd;
    padding: 25px;
}

#central h1{
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}



/* Productos */

.product{
    width: 30%;
    min-width: fit-content;
    border: 1px solid #cccccc;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product img{
    height: 300px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555555;
    margin-bottom: 10px;
}

.product a{
     color: black;
     text-decoration: none;
}

.product a:hover{
    color: darkgreen;
}


.detail-product{
    width: 100%;

}


.detail-product .image{
    width: 45%;
    float: left;
    border: 1px solid lightgray;
    border-radius: 5px;
}


.detail-product img{
    width: 100%;
    float: left;
}


.detail-product .data{
    width: 50%;
    float: right;
}


.detail-product .button{
    width: 200px !important;
    text-align: center;
}


.detail-product .description{
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 20px 20px 20px 1px;
    max-width: 70%;
}


.detail-product .price{
    display: inline-flex;
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 20px 20px 20px 20px;
}


.detail-lines{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    margin: 10px;
}


.detail-lines .line-data{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin: 5px;
}


.detail-lines .line-name{
    border: none;
}


.detail-lines .line-x{
    align-self: center;
    border: none;
}




/* Carrito */

.img_carrito{
    height: 100px;
    display: block;
    margin: 10px auto;
}

.total-carrito{
    width: 350px;
    float: right;
    margin-top: -80px;
}


.button-pedido{
    display: block;
    width: 150px;
    text-align: center;
    float: right;
}


.total-carrito h3{
    display: block;
    float: left;
    margin-top: 5px;
}


.button-vaciar{
    display: block;
    width: 150px;
    text-align: center;
    float: left;
    margin-top: -80px;
}



/* Pedido */

.cesta-pedido{
    border: 1px solid lightgray;
    border-radius: 10px;
    display: block;
    width: 300px;
    float: left;
    margin: 10px auto;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
}


.cesta-pedido input{
    width: 300px;
    text-align: center;
    margin: 1px auto;
    background-color: #e3ffd4;
    border-radius: 10px;
}


.buttons-pedido{
    width: 450px;
    align-items: center;
}


.button-pedido{}


.volver-carrito{
    margin: 5px auto;
    display: block;
    float: left;
}



/* Footer */

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 5px solid #01EAB1;
}